<a href="https://colab.research.google.com/github/Mostofa-Najmus-Sakib/ML-works/blob/main/Assisgnment1/CS_534_PS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS 534 - Machine Learning

# PS1



## Collaborator: None

# Question 1 (10 pts) (Scikit Allowed)

#### Create a script that:

1. Load the iris data.
2. Scale the independent features.
3. Compute the correlation coefficients and covariance among all the pair of independent features.
4. Compute the PCA and show the principal components (their coefficients).
5. Compute the correlation coefficient between each original feature and the new features generated by the PCA.

### 1.1 Loading the Iris data

In [ ]:
import pandas as pd
from sklearn import preprocessing
from sklearn.decomposition import PCA
import numpy as np
import math

In [ ]:
data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
data.columns = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

data.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### 1.2 Scaling the independent features

In [ ]:
dataWithoutClass = data.drop(columns=['class'])
dataWithoutClassScaled = preprocessing.scale(dataWithoutClass)
dataWithoutClassScaled

array([[-9.00681170e-01,  1.03205722e+00, -1.34127240e+00,
        -1.31297673e+00],
       [-1.14301691e+00, -1.24957601e-01, -1.34127240e+00,
        -1.31297673e+00],
       [-1.38535265e+00,  3.37848329e-01, -1.39813811e+00,
        -1.31297673e+00],
       [-1.50652052e+00,  1.06445364e-01, -1.28440670e+00,
        -1.31297673e+00],
       [-1.02184904e+00,  1.26346019e+00, -1.34127240e+00,
        -1.31297673e+00],
       [-5.37177559e-01,  1.95766909e+00, -1.17067529e+00,
        -1.05003079e+00],
       [-1.50652052e+00,  8.00654259e-01, -1.34127240e+00,
        -1.18150376e+00],
       [-1.02184904e+00,  8.00654259e-01, -1.28440670e+00,
        -1.31297673e+00],
       [-1.74885626e+00, -3.56360566e-01, -1.34127240e+00,
        -1.31297673e+00],
       [-1.14301691e+00,  1.06445364e-01, -1.28440670e+00,
        -1.44444970e+00],
       [-5.37177559e-01,  1.49486315e+00, -1.28440670e+00,
        -1.31297673e+00],
       [-1.26418478e+00,  8.00654259e-01, -1.22754100e+00,
        -1.31297673e+00],
       [-1.26418478e+00, -1.24957601e-01, -1.34127240e+00,
        -1.44444970e+00],
       [-1.87002413e+00, -1.24957601e-01, -1.51186952e+00,
        -1.44444970e+00],
       [-5.25060772e-02,  2.18907205e+00, -1.45500381e+00,
        -1.31297673e+00],
       [-1.73673948e-01,  3.11468391e+00, -1.28440670e+00,
        -1.05003079e+00],
       [-5.37177559e-01,  1.95766909e+00, -1.39813811e+00,
        -1.05003079e+00],
       [-9.00681170e-01,  1.03205722e+00, -1.34127240e+00,
        -1.18150376e+00],
       [-1.73673948e-01,  1.72626612e+00, -1.17067529e+00,
        -1.18150376e+00],
       [-9.00681170e-01,  1.72626612e+00, -1.28440670e+00,
        -1.18150376e+00],
       [-5.37177559e-01,  8.00654259e-01, -1.17067529e+00,
        -1.31297673e+00],
       [-9.00681170e-01,  1.49486315e+00, -1.28440670e+00,
        -1.05003079e+00],
       [-1.50652052e+00,  1.26346019e+00, -1.56873522e+00,
        -1.31297673e+00],
       [-9.00681170e-01,  5.69251294e-01, -1.17067529e+00,
        -9.18557817e-01],
       [-1.26418478e+00,  8.00654259e-01, -1.05694388e+00,
        -1.31297673e+00],
       [-1.02184904e+00, -1.24957601e-01, -1.22754100e+00,
        -1.31297673e+00],
       [-1.02184904e+00,  8.00654259e-01, -1.22754100e+00,
        -1.05003079e+00],
       [-7.79513300e-01,  1.03205722e+00, -1.28440670e+00,
        -1.31297673e+00],
       [-7.79513300e-01,  8.00654259e-01, -1.34127240e+00,
        -1.31297673e+00],
       [-1.38535265e+00,  3.37848329e-01, -1.22754100e+00,
        -1.31297673e+00],
       [-1.26418478e+00,  1.06445364e-01, -1.22754100e+00,
        -1.31297673e+00],
       [-5.37177559e-01,  8.00654259e-01, -1.28440670e+00,
        -1.05003079e+00],
       [-7.79513300e-01,  2.42047502e+00, -1.28440670e+00,
        -1.44444970e+00],
       [-4.16009689e-01,  2.65187798e+00, -1.34127240e+00,
        -1.31297673e+00],
       [-1.14301691e+00,  1.06445364e-01, -1.28440670e+00,
        -1.44444970e+00],
       [-1.02184904e+00,  3.37848329e-01, -1.45500381e+00,
        -1.31297673e+00],
       [-4.16009689e-01,  1.03205722e+00, -1.39813811e+00,
        -1.31297673e+00],
       [-1.14301691e+00,  1.06445364e-01, -1.28440670e+00,
        -1.44444970e+00],
       [-1.74885626e+00, -1.24957601e-01, -1.39813811e+00,
        -1.31297673e+00],
       [-9.00681170e-01,  8.00654259e-01, -1.28440670e+00,
        -1.31297673e+00],
       [-1.02184904e+00,  1.03205722e+00, -1.39813811e+00,
        -1.18150376e+00],
       [-1.62768839e+00, -1.74477836e+00, -1.39813811e+00,
        -1.18150376e+00],
       [-1.74885626e+00,  3.37848329e-01, -1.39813811e+00,
        -1.31297673e+00],
       [-1.02184904e+00,  1.03205722e+00, -1.22754100e+00,
        -7.87084847e-01],
       [-9.00681170e-01,  1.72626612e+00, -1.05694388e+00,
        -1.05003079e+00],
       [-1.26418478e+00, -1.24957601e-01, -1.34127240e+00,
        -1.18150376e+00],
       [-9.00681170e-01,  1.72626612e+00, -1.22754100e+00,
        -1.31297673e+00],
       [-1.50652052e+00,  3.37848329e-01, -1.34127240e+00,
        -1.31297673e+00],
       [-6.58345429e-01,  1.49486315e+00, -1.28440670e+00,
        -1.31297673e+00],
       [-1.02184904e+00,  5.69251294e-01, -1.34127240e+00,
        -1.31297673e+00],
       [ 1.40150837e+00,  3.37848329e-01,  5.35295827e-01,
         2.64698913e-01],
       [ 6.74501145e-01,  3.37848329e-01,  4.21564419e-01,
         3.96171883e-01],
       [ 1.28034050e+00,  1.06445364e-01,  6.49027235e-01,
         3.96171883e-01],
       [-4.16009689e-01, -1.74477836e+00,  1.37235899e-01,
         1.33225943e-01],
       [ 7.95669016e-01, -5.87763531e-01,  4.78430123e-01,
         3.96171883e-01],
       [-1.73673948e-01, -5.87763531e-01,  4.21564419e-01,
         1.33225943e-01],
       [ 5.53333275e-01,  5.69251294e-01,  5.35295827e-01,
         5.27644853e-01],
       [-1.14301691e+00, -1.51337539e+00, -2.60824029e-01,
        -2.61192967e-01],
       [ 9.16836886e-01, -3.56360566e-01,  4.78430123e-01,
         1.33225943e-01],
       [-7.79513300e-01, -8.19166497e-01,  8.03701950e-02,
         2.64698913e-01],
       [-1.02184904e+00, -2.43898725e+00, -1.47092621e-01,
        -2.61192967e-01],
       [ 6.86617933e-02, -1.24957601e-01,  2.50967307e-01,
         3.96171883e-01],
       [ 1.89829664e-01, -1.97618132e+00,  1.37235899e-01,
        -2.61192967e-01],
       [ 3.10997534e-01, -3.56360566e-01,  5.35295827e-01,
         2.64698913e-01],
       [-2.94841818e-01, -3.56360566e-01, -9.02269170e-02,
         1.33225943e-01],
       [ 1.03800476e+00,  1.06445364e-01,  3.64698715e-01,
         2.64698913e-01],
       [-2.94841818e-01, -1.24957601e-01,  4.21564419e-01,
         3.96171883e-01],
       [-5.25060772e-02, -8.19166497e-01,  1.94101603e-01,
        -2.61192967e-01],
       [ 4.32165405e-01, -1.97618132e+00,  4.21564419e-01,
         3.96171883e-01],
       [-2.94841818e-01, -1.28197243e+00,  8.03701950e-02,
        -1.29719997e-01],
       [ 6.86617933e-02,  3.37848329e-01,  5.92161531e-01,
         7.90590793e-01],
       [ 3.10997534e-01, -5.87763531e-01,  1.37235899e-01,
         1.33225943e-01],
       [ 5.53333275e-01, -1.28197243e+00,  6.49027235e-01,
         3.96171883e-01],
       [ 3.10997534e-01, -5.87763531e-01,  5.35295827e-01,
         1.75297293e-03],
       [ 6.74501145e-01, -3.56360566e-01,  3.07833011e-01,
         1.33225943e-01],
       [ 9.16836886e-01, -1.24957601e-01,  3.64698715e-01,
         2.64698913e-01],
       [ 1.15917263e+00, -5.87763531e-01,  5.92161531e-01,
         2.64698913e-01],
       [ 1.03800476e+00, -1.24957601e-01,  7.05892939e-01,
         6.59117823e-01],
       [ 1.89829664e-01, -3.56360566e-01,  4.21564419e-01,
         3.96171883e-01],
       [-1.73673948e-01, -1.05056946e+00, -1.47092621e-01,
        -2.61192967e-01],
       [-4.16009689e-01, -1.51337539e+00,  2.35044910e-02,
        -1.29719997e-01],
       [-4.16009689e-01, -1.51337539e+00, -3.33612130e-02,
        -2.61192967e-01],
       [-5.25060772e-02, -8.19166497e-01,  8.03701950e-02,
         1.75297293e-03],
       [ 1.89829664e-01, -8.19166497e-01,  7.62758643e-01,
         5.27644853e-01],
       [-5.37177559e-01, -1.24957601e-01,  4.21564419e-01,
         3.96171883e-01],
       [ 1.89829664e-01,  8.00654259e-01,  4.21564419e-01,
         5.27644853e-01],
       [ 1.03800476e+00,  1.06445364e-01,  5.35295827e-01,
         3.96171883e-01],
       [ 5.53333275e-01, -1.74477836e+00,  3.64698715e-01,
         1.33225943e-01],
       [-2.94841818e-01, -1.24957601e-01,  1.94101603e-01,
         1.33225943e-01],
       [-4.16009689e-01, -1.28197243e+00,  1.37235899e-01,
         1.33225943e-01],
       [-4.16009689e-01, -1.05056946e+00,  3.64698715e-01,
         1.75297293e-03],
       [ 3.10997534e-01, -1.24957601e-01,  4.78430123e-01,
         2.64698913e-01],
       [-5.25060772e-02, -1.05056946e+00,  1.37235899e-01,
         1.75297293e-03],
       [-1.02184904e+00, -1.74477836e+00, -2.60824029e-01,
        -2.61192967e-01],
       [-2.94841818e-01, -8.19166497e-01,  2.50967307e-01,
         1.33225943e-01],
       [-1.73673948e-01, -1.24957601e-01,  2.50967307e-01,
         1.75297293e-03],
       [-1.73673948e-01, -3.56360566e-01,  2.50967307e-01,
         1.33225943e-01],
       [ 4.32165405e-01, -3.56360566e-01,  3.07833011e-01,
         1.33225943e-01],
       [-9.00681170e-01, -1.28197243e+00, -4.31421141e-01,
        -1.29719997e-01],
       [-1.73673948e-01, -5.87763531e-01,  1.94101603e-01,
         1.33225943e-01],
       [ 5.53333275e-01,  5.69251294e-01,  1.27454998e+00,
         1.71090158e+00],
       [-5.25060772e-02, -8.19166497e-01,  7.62758643e-01,
         9.22063763e-01],
       [ 1.52267624e+00, -1.24957601e-01,  1.21768427e+00,
         1.18500970e+00],
       [ 5.53333275e-01, -3.56360566e-01,  1.04708716e+00,
         7.90590793e-01],
       [ 7.95669016e-01, -1.24957601e-01,  1.16081857e+00,
         1.31648267e+00],
       [ 2.12851559e+00, -1.24957601e-01,  1.61574420e+00,
         1.18500970e+00],
       [-1.14301691e+00, -1.28197243e+00,  4.21564419e-01,
         6.59117823e-01],
       [ 1.76501198e+00, -3.56360566e-01,  1.44514709e+00,
         7.90590793e-01],
       [ 1.03800476e+00, -1.28197243e+00,  1.16081857e+00,
         7.90590793e-01],
       [ 1.64384411e+00,  1.26346019e+00,  1.33141568e+00,
         1.71090158e+00],
       [ 7.95669016e-01,  3.37848329e-01,  7.62758643e-01,
         1.05353673e+00],
       [ 6.74501145e-01, -8.19166497e-01,  8.76490051e-01,
         9.22063763e-01],
       [ 1.15917263e+00, -1.24957601e-01,  9.90221459e-01,
         1.18500970e+00],
       [-1.73673948e-01, -1.28197243e+00,  7.05892939e-01,
         1.05353673e+00],
       [-5.25060772e-02, -5.87763531e-01,  7.62758643e-01,
         1.57942861e+00],
       [ 6.74501145e-01,  3.37848329e-01,  8.76490051e-01,
         1.44795564e+00],
       [ 7.95669016e-01, -1.24957601e-01,  9.90221459e-01,
         7.90590793e-01],
       [ 2.24968346e+00,  1.72626612e+00,  1.67260991e+00,
         1.31648267e+00],
       [ 2.24968346e+00, -1.05056946e+00,  1.78634131e+00,
         1.44795564e+00],
       [ 1.89829664e-01, -1.97618132e+00,  7.05892939e-01,
         3.96171883e-01],
       [ 1.28034050e+00,  3.37848329e-01,  1.10395287e+00,
         1.44795564e+00],
       [-2.94841818e-01, -5.87763531e-01,  6.49027235e-01,
         1.05353673e+00],
       [ 2.24968346e+00, -5.87763531e-01,  1.67260991e+00,
         1.05353673e+00],
       [ 5.53333275e-01, -8.19166497e-01,  6.49027235e-01,
         7.90590793e-01],
       [ 1.03800476e+00,  5.69251294e-01,  1.10395287e+00,
         1.18500970e+00],
       [ 1.64384411e+00,  3.37848329e-01,  1.27454998e+00,
         7.90590793e-01],
       [ 4.32165405e-01, -5.87763531e-01,  5.92161531e-01,
         7.90590793e-01],
       [ 3.10997534e-01, -1.24957601e-01,  6.49027235e-01,
         7.90590793e-01],
       [ 6.74501145e-01, -5.87763531e-01,  1.04708716e+00,
         1.18500970e+00],
       [ 1.64384411e+00, -1.24957601e-01,  1.16081857e+00,
         5.27644853e-01],
       [ 1.88617985e+00, -5.87763531e-01,  1.33141568e+00,
         9.22063763e-01],
       [ 2.49201920e+00,  1.72626612e+00,  1.50201279e+00,
         1.05353673e+00],
       [ 6.74501145e-01, -5.87763531e-01,  1.04708716e+00,
         1.31648267e+00],
       [ 5.53333275e-01, -5.87763531e-01,  7.62758643e-01,
         3.96171883e-01],
       [ 3.10997534e-01, -1.05056946e+00,  1.04708716e+00,
         2.64698913e-01],
       [ 2.24968346e+00, -1.24957601e-01,  1.33141568e+00,
         1.44795564e+00],
       [ 5.53333275e-01,  8.00654259e-01,  1.04708716e+00,
         1.57942861e+00],
       [ 6.74501145e-01,  1.06445364e-01,  9.90221459e-01,
         7.90590793e-01],
       [ 1.89829664e-01, -1.24957601e-01,  5.92161531e-01,
         7.90590793e-01],
       [ 1.28034050e+00,  1.06445364e-01,  9.33355755e-01,
         1.18500970e+00],
       [ 1.03800476e+00,  1.06445364e-01,  1.04708716e+00,
         1.57942861e+00],
       [ 1.28034050e+00,  1.06445364e-01,  7.62758643e-01,
         1.44795564e+00],
       [-5.25060772e-02, -8.19166497e-01,  7.62758643e-01,
         9.22063763e-01],
       [ 1.15917263e+00,  3.37848329e-01,  1.21768427e+00,
         1.44795564e+00],
       [ 1.03800476e+00,  5.69251294e-01,  1.10395287e+00,
         1.71090158e+00],
       [ 1.03800476e+00, -1.24957601e-01,  8.19624347e-01,
         1.44795564e+00],
       [ 5.53333275e-01, -1.28197243e+00,  7.05892939e-01,
         9.22063763e-01],
       [ 7.95669016e-01, -1.24957601e-01,  8.19624347e-01,
         1.05353673e+00],
       [ 4.32165405e-01,  8.00654259e-01,  9.33355755e-01,
         1.44795564e+00],
       [ 6.86617933e-02, -1.24957601e-01,  7.62758643e-01,
         7.90590793e-01]])

In [ ]:
dataWithoutClassScaledDF = pd.DataFrame({'sepal_length_scaled': dataWithoutClassScaled[:, 0], 'sepal_width_scaled': dataWithoutClassScaled[:, 1], 'petal_length_scaled': dataWithoutClassScaled[:, 2], 'petal_width_scaled': dataWithoutClassScaled[:, 3]})
dataWithoutClassScaledDF.head()

   sepal_length_scaled  ...  petal_width_scaled
0            -0.900681  ...           -1.312977
1            -1.143017  ...           -1.312977
2            -1.385353  ...           -1.312977
3            -1.506521  ...           -1.312977
4            -1.021849  ...           -1.312977

[5 rows x 4 columns]

### 1.3 Compute the correlation coefficients and covariance among all the pair of independent features

In [ ]:
corr = dataWithoutClassScaledDF.corr()
corr

                     sepal_length_scaled  ...  petal_width_scaled
sepal_length_scaled             1.000000  ...            0.817954
sepal_width_scaled             -0.109369  ...           -0.356544
petal_length_scaled             0.871754  ...            0.962757
petal_width_scaled              0.817954  ...            1.000000

[4 rows x 4 columns]

In [ ]:
cov = dataWithoutClassScaledDF.cov()
cov

                     sepal_length_scaled  ...  petal_width_scaled
sepal_length_scaled             1.006711  ...            0.823443
sepal_width_scaled             -0.110103  ...           -0.358937
petal_length_scaled             0.877605  ...            0.969219
petal_width_scaled              0.823443  ...            1.006711

[4 rows x 4 columns]

### 1.4 Compute the PCA and show the principal components (their coefficients)

In [ ]:
pca = PCA(4)

In [ ]:
principalComponents = pca.fit_transform(dataWithoutClassScaledDF)

In [ ]:
principalComponentsDF = pd.DataFrame(principalComponents)
principalComponentsDF.columns = ['1', '2', '3', '4']
principalComponentsDF.head()

          1         2         3         4
0 -2.264542  0.505704 -0.121943 -0.023073
1 -2.086426 -0.655405 -0.227251 -0.103208
2 -2.367950 -0.318477  0.051480 -0.027825
3 -2.304197 -0.575368  0.098860  0.066311
4 -2.388777  0.674767  0.021428  0.037397

In [ ]:
pca.components_  ##principal components (their coefficients)

array([[ 0.52237162, -0.26335492,  0.58125401,  0.56561105],
       [ 0.37231836,  0.92555649,  0.02109478,  0.06541577],
       [-0.72101681,  0.24203288,  0.14089226,  0.6338014 ],
       [-0.26199559,  0.12413481,  0.80115427, -0.52354627]])

### 1.5 Compute the correlation coefficient between each original feature and the new features generated by the PCA.

Let's look at the correlation of the new features generated by the PCA:

In [ ]:
principalComponentsDF.corr()

              1             2             3             4
1  1.000000e+00  5.988877e-17 -7.006857e-17 -3.550868e-17
2  5.988877e-17  1.000000e+00 -6.936964e-18 -9.052372e-17
3 -7.006857e-17 -6.936964e-18  1.000000e+00  1.074519e-16
4 -3.550868e-17 -9.052372e-17  1.074519e-16  1.000000e+00

Correlation between original features:

In [ ]:
dataWithoutClass.corr()

              sepal length  sepal width  petal length  petal width
sepal length      1.000000    -0.109369      0.871754     0.817954
sepal width      -0.109369     1.000000     -0.420516    -0.356544
petal length      0.871754    -0.420516      1.000000     0.962757
petal width       0.817954    -0.356544      0.962757     1.000000

Finally correlation coefficient between each original feature and the new features

In [ ]:
totalDataFrame = pd.merge(data, principalComponentsDF, left_index=True, right_index=True)
totalDataFrame = totalDataFrame.drop(columns=['class'])
totalDataFrame.head()

   sepal length  sepal width  petal length  ...         2         3         4
0           5.1          3.5           1.4  ...  0.505704 -0.121943 -0.023073
1           4.9          3.0           1.4  ... -0.655405 -0.227251 -0.103208
2           4.7          3.2           1.3  ... -0.318477  0.051480 -0.027825
3           4.6          3.1           1.5  ... -0.575368  0.098860  0.066311
4           5.0          3.6           1.4  ...  0.674767  0.021428  0.037397

[5 rows x 8 columns]

In [ ]:
featureOne = totalDataFrame[['sepal length', '1', '2', '3', '4']].copy()
featureOne.corr()

              sepal length             1  ...             3             4
sepal length      1.000000  8.912245e-01  ... -2.767740e-01 -3.761047e-02
1                 0.891224  1.000000e+00  ... -7.006857e-17 -3.550868e-17
2                 0.357352  5.988877e-17  ... -6.936964e-18 -9.052372e-17
3                -0.276774 -7.006857e-17  ...  1.000000e+00  1.074519e-16
4                -0.037610 -3.550868e-17  ...  1.074519e-16  1.000000e+00

[5 rows x 5 columns]

In [ ]:
featureTwo = totalDataFrame[['sepal width', '1', '2', '3', '4']].copy()
featureTwo.corr()

             sepal width             1  ...             3             4
sepal width     1.000000 -4.493130e-01  ...  9.290825e-02  1.782003e-02
1              -0.449313  1.000000e+00  ... -7.006857e-17 -3.550868e-17
2               0.888351  5.988877e-17  ... -6.936964e-18 -9.052372e-17
3               0.092908 -7.006857e-17  ...  1.000000e+00  1.074519e-16
4               0.017820 -3.550868e-17  ...  1.074519e-16  1.000000e+00

[5 rows x 5 columns]

In [ ]:
featureThree = totalDataFrame[['petal length', '1', '2', '3', '4']].copy()
featureThree.corr()

              petal length             1  ...             3             4
petal length      1.000000  9.916844e-01  ...  5.408378e-02  1.150088e-01
1                 0.991684  1.000000e+00  ... -7.006857e-17 -3.550868e-17
2                 0.020247  5.988877e-17  ... -6.936964e-18 -9.052372e-17
3                 0.054084 -7.006857e-17  ...  1.000000e+00  1.074519e-16
4                 0.115009 -3.550868e-17  ...  1.074519e-16  1.000000e+00

[5 rows x 5 columns]

In [ ]:
featureFour = totalDataFrame[['petal width', '1', '2', '3', '4']].copy()
featureFour.corr()

             petal width             1  ...             3             4
petal width     1.000000  9.649958e-01  ...  2.432950e-01 -7.515708e-02
1               0.964996  1.000000e+00  ... -7.006857e-17 -3.550868e-17
2               0.062786  5.988877e-17  ... -6.936964e-18 -9.052372e-17
3               0.243295 -7.006857e-17  ...  1.000000e+00  1.074519e-16
4              -0.075157 -3.550868e-17  ...  1.074519e-16  1.000000e+00

[5 rows x 5 columns]

# Question 2 (5 pts + (5 pts Extra))

1. What you can observe by comparing the results in subquestions  4 and 5 of Question1?
2. Can you define any property?
3. If there is any property are you able to formally prove it? (5 extra pts)

## 2.1 What you can observe by comparing the results in subquestions 4 and 5 of Question1?

We can observe that each of the new features except one has at least one very high coefficient. Only one of them has three. We can also observe that the original features are correlated to each other. For example we can see that there are correlations between sepal length and petal length. But the new features from pca are independent. In other words, the new feautres are uncorrelated. In general variability of the independent variables were captured by the PCA components

## 2.2 Can you define any property?

The features from PCA are orthogonal and independent. Calculated variance of the principal component has orthogonal parts of the varaince of the primary variables available. Principal component has helped here to reduce the dimensionality of the datasets. The prinicipal components derived from the PCA is generally the sum of the independent random variables whereas variancce is equal to the sum of the variances

Other terminologies associated with PCA is "Eigen vector" and "Eigen value". In linear algebra, an eigenvector or characteristic vector of a linear transformation is a nonzero vector that changes by a scalar factor when that linear transformation is applied to it. The corresponding eigenvalue is the factor by which the eigenvector is scaled.

# Question 3 (10 pts) (Scikit NOT Allowed)

Write a code in pure python, to create a decision tree (please show the results).  
 1. Create a toy example to run and test your code.
 2. Provide simple explanation for your algorithm. 
 3. In input, you should provide the independent features and the dependent feature (the class/label) separately. 
 4. Also implement the gini index and the entropy gain ratio in your toy example. 
 
Notes: You can assume that the dependent and independent features are binary and may use numpy and scipy.
You can read the code available online, but you cannot plagiarize it.

#### ***I have tried to explain each step  of the algorithm and results in the associated steps***

## Pure python implementation of a decision tree with requirements described above:

### To implement a decision tree, first we need the Attribute Selection Measures

The following function is written separetely and is used by the fuctions which retrieves the gini index and entropy gain ratio. This function basically checks whether a feature name is valid

In [ ]:
def isFeatureValid(dataset, feature):
    allFeatures = dataset.columns
    result = False
    for i in range(0, len(dataset.columns)):
        if allFeatures[i] == feature:
            result = True
            break
    return result

#### The following two functions are used to calculate the Gini Index and Gini Split

In [ ]:
#Function to Calculate Gini index
def GiniIndex(dataset):
    outputSeries = dataset['output']
    uniqueOutputKeys = outputSeries.value_counts().keys().tolist()
    uniqueOutputValues = outputSeries.value_counts().tolist()
    result = 1    # initially the result is 1 because of the formula: GINI(T) = 1 - Σ [p(j|t)]^2
    
    for i in range(0, len(uniqueOutputKeys)):
        prob = uniqueOutputValues[i]/len(dataset['output'])
        result = result - (prob * prob)     #GINI(T) = 1 - Σ [p(j|t)]^2
    return result
    
#function to calculate the Gini Split
def GiniSplit(dataset, output, feature):
    if isFeatureValid(dataset, feature) == False:
        print("invalid column name!")
        return
    
    currentFeatureSeries = dataset[feature]    #list of all the features
    
    valueCounts = currentFeatureSeries.value_counts()
    valueCountsKeys = currentFeatureSeries.value_counts().keys().tolist()
    valueCountsValues = currentFeatureSeries.value_counts().tolist()
    
    fullDataToCheck = pd.DataFrame({'current_feature': currentFeatureSeries, 'output': output})
    result = 0
    for i in range(0, len(valueCountsKeys)):    #this loop sums all gini indexes by the formula GINIsplit = Σ (ni/n)*GINI(i)
        partitionedData = fullDataToCheck[fullDataToCheck['current_feature'] == valueCountsKeys[i]]
        gIndex = GiniIndex(partitionedData)
        
        result = result + (gIndex * len(partitionedData) / len(fullDataToCheck['output']))
    
    return result

The following two functions are used to calculate entropy and entropy gain ratio

In [ ]:
# function to calculate entropy
def Entropy(dataset):    #this function calculates the entropy using the formula Entropy(T) = -Σ P(j|t) * log(P(j|t))
    outputSeries = dataset['output']
    uniqueOutputKeys = outputSeries.value_counts().keys().tolist()
    uniqueOutputValues = outputSeries.value_counts().tolist()
    result = 0
    
    for i in range(0, len(uniqueOutputKeys)):
        lgProb = uniqueOutputValues[i]/len(dataset['output'])
        result = result + (lgProb * math.log(lgProb, 2))    #P(j|t) * log(P(j|t))
    result = -1 * result    #at the end of the loop we need to negate the result because of the formula
    return result

#function to calculate entropy gain ratio
def EntropyGainRatio(dataset, output, feature):
    
    fullData = dataset
    fullData['output'] = output
    parentE = Entropy(fullData)    # parent entropy
    
    
    ## now find the entropy for all the childs that will be produced from using this feature
    if isFeatureValid(dataset, feature) == False:
        print("invalid column name!")
        return
    
    currentFeatureSeries = dataset[feature]
    valueCounts = currentFeatureSeries.value_counts()
    valueCountsKeys = currentFeatureSeries.value_counts().keys().tolist()
    valueCountsValues = currentFeatureSeries.value_counts().tolist()
    
    fullDataToCheck = pd.DataFrame({'current_feature': currentFeatureSeries, 'output': output})
    
    eGain = 0   #this variable stores the information gain, GAINsplit = Entropy(P) - Σ ((ni/n)*Entropy(i))
    splitI = 0  # this variable stores the splitInfo, splitInfo = -Σ ((ni/n)*log(ni/n))
    for i in range(0, len(valueCountsKeys)):    #this loop uses the function Entropy(dataset), and calculates eGain and SplitI
        partitionedData = fullDataToCheck[fullDataToCheck['current_feature'] == valueCountsKeys[i]]
        
        entropy = Entropy(partitionedData)
        entropyM = entropy * len(partitionedData) / len(fullDataToCheck)
        eGain = eGain + entropyM
        
        nByN = len(partitionedData) / len(fullDataToCheck)
        splitI = splitI + nByN * ((math.log(nByN, 2)))
        
    
    eGain = parentE - eGain # because of the formula GAINsplit = Entropy(P) - Σ ((ni/n)*Entropy(i))
    splitI = splitI * (-1.0) #GainRatio = GAINsplit/SplitInfo
    
    
    if splitI == 0.0:    #floating point precision handling
        splitI = 0.0000001
    gRatio = eGain / splitI
    
    return gRatio

#### The following function is the raw python implementation of decision tree

Since we can assume that the features we deal with will be binary, I have used a binary tree structure to store the output of the Decision Tree Generation function. The parameters treeTracker and treeTrackerNextCheck holds the tree information into 2 arrays that is generated from the function. The root of the binary tree starts from zero. Because of that, in the next couple of cells, the function is initially called with root value 0.

In [ ]:
# the decision tree generator function
#treeTracker holds which feature to check at each iteration
#treeTrackerNextCheck holds the indices values and which direction to go for which feature value
def GenerateDecisionTree(Dataset, output, AttributeSelectionMeasures, treeTracker, treeTrackerNextCheck, root):
    
    if len(Dataset) == 0:
        return
    
    bestFeature = None
    valueForBestFeature = -1    # this variables hold the best feature to split with after checking all the features
    allFeatures = Dataset.columns  #list of all features
    gain = None  #this variable holds the gain value from the particular Attribute Selection Measure for the best feature
    
    for i in range(0, len(allFeatures)):    # this loop uses the Attribute Selection Measure to get the best feature and calculates the gain
        if AttributeSelectionMeasures == "Gini Index":    #if AttributeSelectionMeasure is gini index we call the gini index related function
            gain = GiniSplit(Dataset, output, allFeatures[i])
        elif AttributeSelectionMeasures == "Entropy Gain Ratio":   #if AttributeSelectionMeasure is gain ratio, we call the related function
            gain = EntropyGainRatio(Dataset, output, allFeatures[i])
        else:
            print("No such measure found named " + str(AttributeSelectionMeasures))  #otherwise AttributeSelectionMeasure is invalid
            return
        if gain > valueForBestFeature:
            valueForBestFeature = gain
            bestFeature = allFeatures[i]
    
    
    bestFeatureColumn = Dataset[bestFeature]
    uniqueValues = bestFeatureColumn.unique()
    
    combinedData = Dataset
    combinedData['output'] = output
    for i in range(0, len(uniqueValues)):    # this loop calculates the next node of the tree, here the function recursively calls itself to go deeper into the tree
        separatedData = combinedData[combinedData[bestFeature] == uniqueValues[i]]
        if len(separatedData) == 0:    #we reached an end
            treeTracker[root] = bestFeature
            treeTracker[root*2+1] = "end"
            treeTracker[root*2+2] = "end"
            continue
        if len(separatedData) == len(Dataset):    #we reached an end
            treeTracker[root] = bestFeature
            treeTracker[root*2+1] = "end"
            treeTracker[root*2+2] = "end"
            treeTrackerNextCheck[root*2+1] = separatedData.iloc[0]['output']#uniqueValues[i]
            treeTrackerNextCheck[root*2+2] = separatedData.iloc[0]['output']#uniqueValues[i]
            continue
        if i == 0:
            treeTracker[root] = bestFeature
            treeTrackerNextCheck[root*2+1] = uniqueValues[i]
            output = separatedData['output']
            separatedData = separatedData.drop('output', 1)
            GenerateDecisionTree(separatedData, output, AttributeSelectionMeasures, treeTracker, treeTrackerNextCheck, 2*root+1)
        else:
            treeTracker[root] = bestFeature
            treeTrackerNextCheck[root*2+2] = uniqueValues[i]
            output = separatedData['output']
            separatedData = separatedData.drop('output', 1)
            GenerateDecisionTree(separatedData, output, AttributeSelectionMeasures, treeTracker, treeTrackerNextCheck, 2*root+2)
        
        
    return

# this is the actual function that we call go get the decision tree, this one calls the function above to generate the tree
#you need to call the function using the dataframe containing the dependant variables(Dataset), the output, and the Attribute Selection Measure 
#treeTracker holds which feature to check at each iteration
#treeTrackerNextCheck holds the indices values and which direction to go for which feature value
def DecisionTree(Dataset, output, AttributeSelectionMeasures):
    treeTracker = [None] * 100000000
    treeTrackerNextCheck = [None] * 100000000
    GenerateDecisionTree(Dataset, output, AttributeSelectionMeasures, treeTracker, treeTrackerNextCheck, 0)  # 0 here is the root
    return treeTracker, treeTrackerNextCheck

#### The following functions are used to test the decision tree on test data

In [ ]:
# checks the tree for only one row/data point
def GetDecisionTreeResult(treeTracker, treeTrackerNextCheck, oneDataPoint):
    root = 0
    while treeTracker[root] != "end":
        currentFeatureToTest = treeTracker[root]
        thatFeatureResult = oneDataPoint[currentFeatureToTest]
        
        if thatFeatureResult == treeTrackerNextCheck[root*2 + 1]:
            root = root*2 + 1
        elif thatFeatureResult == treeTrackerNextCheck[root*2 + 2]:
            root = root*2 + 2
        elif treeTracker[root*2+1] == "end" and treeTracker[root*2+2] == "end":
            break;
        
    return treeTrackerNextCheck[root*2+1]

#this function uses the function above in a loop to get the prediction for all rows in a dataframe
def TestDecisionTree(treeTracker, treeTrackerNextCheck, data):
    prediction = []#pd.Series()
    for i in range(0, len(data)):
        temp = data.iloc[i]
        tempResult = GetDecisionTreeResult(treeTracker, treeTrackerNextCheck, temp)
        prediction.append(tempResult)# = prediction.set_value(i, tempResult)
    
    return prediction#.tolist()

## Toy example to run and test above code

In [ ]:
import warnings
warnings.simplefilter('ignore')
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
sampleData = pd.read_excel("ToyExample.xlsx");
sampleData.head()

  Body Temperature Gives Birth Aquatic Creature  ... Has Legs Hibernates      output
0             warm         Yes               No  ...      Yes         No      mammal
1             cold          No               No  ...       No        Yes  not mammal
2             cold          No              Yes  ...       No         No  not mammal
3             warm         Yes              Yes  ...       No         No      mammal
4             cold          No               No  ...      Yes        Yes  not mammal

[5 rows x 7 columns]

Splitting the data into train and test

In [ ]:
trainSampleData = sampleData.head(12)
trainSampleData.head()

  Body Temperature Gives Birth Aquatic Creature  ... Has Legs Hibernates      output
0             warm         Yes               No  ...      Yes         No      mammal
1             cold          No               No  ...       No        Yes  not mammal
2             cold          No              Yes  ...       No         No  not mammal
3             warm         Yes              Yes  ...       No         No      mammal
4             cold          No               No  ...      Yes        Yes  not mammal

[5 rows x 7 columns]

In [ ]:
testSampleData = sampleData.tail(3)
testSampleData.head()

   Body Temperature Gives Birth  ... Hibernates      output
12             warm         Yes  ...        Yes      mammal
13             cold          No  ...         No  not mammal
14             cold          No  ...        Yes  not mammal

[3 rows x 7 columns]

#### Let's get the decision tree, first we are going to use "Entropy Gain Ratio"

In [ ]:
#first separate the independant and dependant variables
trainDataOnlyDependantFeatures = trainSampleData[['Body Temperature', 'Gives Birth', 'Aquatic Creature', 'Aerial Creature', 'Has Legs', 'Hibernates']]
trainDataOnlyOutput = trainSampleData['output']

#now get the tree(arrays)
res1, res2 = DecisionTree(trainDataOnlyDependantFeatures, trainDataOnlyOutput, "Entropy Gain Ratio")

#the res1 and res2 variable holds the tree
#res1 holds which feature to check at each iteration
#res2 holds the indices values and which direction to go for which feature value

In [ ]:
testSampleData

   Body Temperature Gives Birth  ... Hibernates      output
12             warm         Yes  ...        Yes      mammal
13             cold          No  ...         No  not mammal
14             cold          No  ...        Yes  not mammal

[3 rows x 7 columns]

#### Now we can test on the testSampleData as following:

In [ ]:
prediction = TestDecisionTree(res1, res2, testSampleData)

In [ ]:
prediction

['mammal', 'not mammal', 'not mammal']

Let's put it with the dataframe to see actually how the prediction looks like:

In [ ]:
testSampleData.insert(len(testSampleData.columns), "prediction", prediction, True)
testSampleData

   Body Temperature Gives Birth  ...      output  prediction
12             warm         Yes  ...      mammal      mammal
13             cold          No  ...  not mammal  not mammal
14             cold          No  ...  not mammal  not mammal

[3 rows x 8 columns]

### let's  try same thing with gini index

In [ ]:
trainDataOnlyDependantFeatures = trainSampleData[['Body Temperature', 'Gives Birth', 'Aquatic Creature', 'Aerial Creature', 'Has Legs', 'Hibernates']]
trainDataOnlyOutput = trainSampleData['output']

ress1, ress2 = DecisionTree(trainDataOnlyDependantFeatures, trainDataOnlyOutput, "Gini Index")

In [ ]:
testSampleData = sampleData.tail(3)
testSampleData

   Body Temperature Gives Birth  ... Hibernates      output
12             warm         Yes  ...        Yes      mammal
13             cold          No  ...         No  not mammal
14             cold          No  ...        Yes  not mammal

[3 rows x 7 columns]

In [ ]:
prediction = TestDecisionTree(ress1, ress2, testSampleData)
prediction

['not mammal', 'not mammal', 'not mammal']

In [ ]:
testSampleData.insert(len(testSampleData.columns), "prediction", prediction, True)
testSampleData

   Body Temperature Gives Birth  ...      output  prediction
12             warm         Yes  ...      mammal  not mammal
13             cold          No  ...  not mammal  not mammal
14             cold          No  ...  not mammal  not mammal

[3 rows x 8 columns]